<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'style/style_log.css' %}">
</head>
<body>
    <form action="{% url 'registration' %}" class="container" method="post">
        {% csrf_token %}
        <div class="parent__reg">
        {% for field in form %}
        <p>
            <p class="text__left">
                {{ field.label }}
            </p>
            <br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
            <input type="submit" value="Регистрация" class="button">
        </div>
    </form>
</body>
</html>