{% extends 'main/base.html' %}

{% block content %}
  <div class="row">
    <div id ='test' class="col-lg-12 ml-auto">
        <form id="facts-form">
            <p><b>Из какой страны в Японию были завезены многие произведения искусства</b></p>
            <p><label><input name="q1" type="radio" value="0"> Северная корея</label>&nbsp;
            <label><input name="q1" type="radio" value="1"> Китай</label> </p>
            <br> <br>
            <p><b>Какая живопись и роспись процветала в Японии в VI и VII веке</b></p>
            <p><label><input name="q2" type="radio" value="1"> Религиозная</label>&nbsp;
            <label><input name="q2" type="radio" value="0"> Архитектурная</label> </p>
            <br> <br>
            <p><b>Одно из мест для нанесения рисунка</b></p>
            <p><label><input name="q3" type="radio" value="1"> Горизонтальный свиток</label>&nbsp;
            <label><input name="q3" type="radio" value="0"> Стол</label> </p>
            <br> <br>
            <p><b>В каких веках развивается стиль суми-э. </b></p>
            <p><label><input name="q4" type="radio" value="0"> В XII-XIII веках</label>&nbsp;
            <label><input name="q4" type="radio" value="1"> В XIV-XVI веках</label> </p>
            <br> <br>
            <p><b>В этот период искусство впервые обращается к темам повседневности - мир чайных домов, театра Кабуки, борцов сумо.</b></p>
            <p><label><input name="q5" type="radio" value="1"> Период Эдо</label>&nbsp;
            <label><input name="q5" type="radio" value="0"> Период Мэйдзи</label> </p>
            <br> <br>
            <input type="submit" class='form__btn' value='Проверить' onclick="test()" style="margin-bottom: 50px">
            <span id="rezult"></span>
        </form>
    </div>
  </div>


{% endblock %}