{% extends 'main/base.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <a href="{% url 'lessons_list' %}">Вернуться к поиску</a>
    </div>
  </div>
    {% for lesson in object_list %}
      <div class="row">
        <div class="lesson col-md-6" style="margin-top: 25px">
          <div class="date">
            <p>Опубликовано: {{ lesson.published_date }}</p>
            <a href="{% url 'lessons_detail' pk=lesson.pk %}">{{ lesson.title }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
