<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Урок 1</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<header id="header" class="header">
			<div class="container">
				<div class="row">
					<div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 mx-auto d-block col-3">
						<a href="{% url 'main' %}">
							<img src="{% static 'img/fuji.svg' %}" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-7 col-md-7 col-sm-12 ml-auto">
						<nav>
							<ul class="menu d-flex justify-content-center">
								<li class="menu__item">
									<a href="{% url 'lessons' %}">
										Уроки
									</a>
								</li>
								<li class="menu__item">
									<a href="">
										Тесты
									</a>
								</li>
								<li class="menu__item">
									<a href="">
										Изображения
									</a>
								</li>
								{% if user.is_authenticated %}
									<li class="menu_item">{{ user.get_username }}</li>
									<li class="menu_item"><a href="{% url 'logout'%}?next={{request.path}}">Выход</a></li>
								{% else %}
									<li class="menu_item"><a href="{% url 'login'%}?next={{request.path}}">Вход</a></li>
								{% endif %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<section class="lessons">
			<div class="container">
				<div class="row">
					<div class="col-xl-8">
						<h1 class="name__lesson">
							Урок 1 История
						</h1>
						<div class="text__lesson">
							Японская роспись — один из наиболее древних и изысканных японских видов искусств, характеризуется широким разнообразием жанров и стилей. Для японской росписи, как и для литературы, характерно отведение ведущего места природе и изображение её в качестве носительницы божественного начала. Другим предметом, широко распространённым в японской росписи, является изображение сцен из повседневной жизни и тематических картин, которые часто переполнены фигурами и деталями. Эта традиция, несомненно, началась в период раннего средневековья под влиянием Китая, но со временем стала рассматриваться как часть японских традиций, которая существует и сегодня.
						</div>
					</div>
					<div class="col-xl-4">
						<img src="{% static 'img/lesson_1_1.jpg' %}" alt="" class="img-fluid">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<h2 class="name__lesson">
							История
						</h2>
						<div class="text__lesson">
							Первая роспись в Японии датируется периодом японского палеолита.
						</div>
						<h2 class="name__lesson">
							Период Ямато
						</h2>
						<div class="text__lesson">
							В периоды Кофун и Асука (IV — VII века) наряду с внедрением китайской письменности (иероглифы), создания государственного режима по китайскому образцу и распространения буддизма, из Китая в Японию были завезены и многие произведения искусства. После этого в Японии начали воспроизводить произведения живописи в стиле аналогичном китайскому.
						</div>
						<h2 class="name__lesson">
							Период Нара
						</h2>
						<div class="text__lesson">
							С дальнейшим развитием буддизма в VI и VII веке в Японии процветала религиозная живопись и роспись, используемая для украшения многочисленных храмов, возведённых аристократией, но в целом в период Нара в Японии вклад в развитие искусства и скульптуры был больше, чем в живопись. Ранние из сохранившихся картин этого периода включают росписи на внутренних стенах храма Хорю-дзи в префектуре Нара. Эти росписи включают рассказы о жизни Будды Шакьямуни.
						</div>
						<h2 class="name__lesson">
							Период Хэйан
						</h2>
						<div class="text__lesson">
							Начиная с X века в японской росписи выделяют направление ямато-э, картины представляют собой горизонтальные свитки, которыми иллюстрировали литературные произведения.
						</div>
						<h2 class="name__lesson">
							Период Муромати
						</h2>
						<div class="text__lesson">
							В XIV-XVI веках развивается стиль суми-э (монохромная роспись тушью).
						</div>
						<h2 class="name__lesson">
							Адзути-Момояма
						</h2>
						<div class="text__lesson">
							В резком контрасте с росписью периода Муромати выступает роспись периода Адзути-Момояма (1573—1603). Ей характерен полихромный стиль с широким использованием золотой и серебряной фольги. В то время большой известностью и престижем пользовалась школа Кано. Её основатель Эйтоку Кано занимался росписью стен потолка и раздвижных дверей для разделения комнат. Такие расписные элементы служили украшением замков и дворцов военной знати.
						</div>
						<h2 class="name__lesson">
							Период Эдо (1603—1868)
						</h2>
						<div class="text__lesson">
							В этот период искусство впервые обращается к темам повседневности - мир чайных домов, театра Кабуки, борцов сумо. Появление гравюры на дереве было связано с демократизацией культуры, поскольку гравюре свойственна тиражность, дешевизна и доступность. Вслед за бытовой живописью гравюра стала называться укие-э. Развитие гравюры связано с художником Хисикава Моронобу, который изображал незамысловатые сцены из жизни обитателей чайных домов, ремесленников, совмещая на одной гравюре разнообразные не связанные между собой события. Японская гравюра в 1780-1790 гг. вступает в период расцвета. Судзуки Харанобу впервые применил приём раската, создающий переход от темного к светлому тону, варьировал толщину и фактуру линий. Он не заботился о реальной расцветке, море на его гравюрах розовое, небо песочное, трава голубая, все зависит от общего эмоционального настроя сцены.
						</div>
						<h2 class="name__lesson">
							Период Мэйдзи
						</h2>
						<div class="text__lesson">
							Со второй половины XIX века было отмечено разделение искусства на конкурирующие европейский и традиционный стили. Во время периода Мэйдзи Япония подверглась большим политическим и социальным изменениям в процессе европеизации и модернизации, организованной правительством. Западный стиль живописи официально продвигался правительством. Перспективные молодые художники были посланы за границу для учёбы, а иностранные художники приезжали в Японию для разработки школьной программы по искусству.

							Тем не менее, после первоначального всплеска интереса к западному художественному стилю, маятник качнулся в противоположную сторону, произошло возрождение традиционного японского стиля. В 1880 году западный стиль искусства был запрещён на официальных выставках и подвергался резкой критике.
						</div>
						<h2 class="name__lesson">
							Период  Тайсё (1912–1926)
						</h2>
						<div class="text__lesson">
							Эпоха Тайсё приходится на краткий период времени, лежащий между ускоренной модернизацией Японии в эпоху Мэйдзи (1868–1912 гг.) и агрессивным милитаризмом первых лет эпохи Сёва (1926–1989 гг.).

							Период Тайсё начался 30 июля 1912 со смертью императора Муцухито (Мэйдзи, 1852–1912 гг.) и восхождением на престол наследного принца Ёсихито (1879–1926 гг.). Девизом своего правления новый император выбрал Тайсё, что означает «Великая справедливость». Слабое здоровье вынудило его удалиться от дел в 1921 году, и принцем-регентом был провозглашён его старший сын Хирохито (1901–1989 гг.), будущий император Сёва

							В то же время, новый виток получило и развитие живописи. Традиционные жанры продолжали существовать, однако испытали значительное влияние Запада. Одновременно с этим, многие молодые художники увлеклись импрессионизмом, постимпрессионизмом, кубизмом, фовизмом и другими художественными направлениями, развивающимися в западных странах.

							В общем, период Тайсё можно назвать временем смешения японских и западных черт и приёмов практически во всех видах искусства и творчества.
						</div>
						<h2 class="name__lesson">
							 Период Сёва (1926–1989)
						</h2>
						<div class="text__lesson">
							Эпоха Сёва — период в истории Японии с 25 декабря 1926 года по 7 января 1989 года, когда императором был Хирохито (1901–1989 гг.). Девизом своего правления он выбрал Сёва, что можно перевести как «Просвещённый мир».

							В истории послевоенной живописи одними из самых известных художников были Окумура Тогю (1889–1990 гг.), прославившийся изображением ста видов горы Фудзи, а также Хигасияма Кайи (1908–1999 гг.), ставший известным, в частности, благодаря тому, что создал и отреставрировал стенные росписи многих японских дворцов и храмов (Императорского дворца, храма Тосёдайдзи и т. д.). В живописи на западный манер наиболее известным художником является Хаяси Такэси (1896–1975 гг.), в чьих работах можно проследить сильное влияние Сезанна, Пикассо, Модильяни.
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-xl-3">
						г.Тюмень 2020
					</div>
					<div class="col-xl-3 ml-auto footer__item">
						Щепелин Данил
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>