body {
	font-family: 'Open Sans', sans-serif;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	font-weight: 700;
}

.first__text {
	text-align: center;
	margin-top: 200px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.header {
	color: #000;
	padding-top: 20px;
}

.menu {
    display: flex;
    justify-content: center;
	margin-top: 10px;
}

.menu__item {
	margin: 0 40px;
}

.menu__item a {
	font-weight: 700;
	color: #000;
}

.images {
	margin-top: 200px;
	margin-bottom: 200px;
}

.main__text {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 100px;
}

.review {
	margin-bottom: 50px;
}

.review__item{
    border: 1px solid #808080;
    border-radius: 2px;
    margin-bottom: 50px;
}

.review__name {
	margin-bottom: 20px;
}

.input__review {
	width: 200px;
}

.review__item__name {
	margin-bottom: 20px;
	margin-top: 10px;
	padding-left: 40px;
}

.review__item__text {
	margin-bottom: 10px;
	padding-left: 40px;
}

.footer {
	margin-bottom: 25px;
	padding-top: 25px;
}

.footer__item {
	text-align: right;
}


/*изменения*/
.lessons__text {
	text-align: center;
	margin-top: 50px;
}

.footer__lessons {
	padding-top: 450px;
}

.name__lesson {
	margin-top: 50px;
}

.img-fluid {
	margin-top: 100px;
}

.post__image {
    width: 550px;
}

.image {
	margin-bottom: 50px;
}

.form__btn {
	background: #fff;
	color: #000;
	border-color: #000;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	border-radius: 3px;
	border: 1px solid;
	cursor: pointer;
	outline: none;
}

.lesson__logo {
    width: 550px;
}

@media screen and (max-width: 1024px) {
    .post__image {
        width: 600px;
    }

    .review {
        margin-left: 25px;
    }

    .review__items {
        margin-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    .post__image {
        width: 550px;
    }

    .menu {
        display: block;
        text-align: right;
    }

    .menu__item {
        margin-bottom: 15px;
        margin-right: 0
    }
}

@media screen and (max-width: 425px) {
    .post__image {
        width: 400px;
    }

    .text__rev {
        width: 300px;
    }

    .lesson__logo {
        width: 320px;
    }

    .lesson__text {
        font-size: 30px;
    }

    .menu {
        display: block;
        text-align: center;
    }

    .menu__item {
        margin-bottom: 15px;
        margin-left: 0
    }
}


