body {
	font-family: 'Open Sans', sans-serif;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	font-weight: 700;
}

.first__text {
	text-align: center;
	margin-top: 200px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.header {
	color: #000;
	padding-top: 20px;
}

.menu {
	margin-top: 10px;
}

.menu__item {
	margin: 0 40px;
}

.menu__item a {
	font-weight: 700;
	color: #000;
}

.images {
	margin-top: 200px;
	margin-bottom: 200px;
}

.main__text {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 100px;
}

.review {
	margin-bottom: 50px;
}

.review__name {
	margin-bottom: 20px;
}

.input__review {
	width: 200px;
}

.review__item__name {
	margin-bottom: 20px;
}

.review__item__text {
	margin-bottom: 50px;
}

.footer {
	margin-bottom: 25px;
	padding-top: 25px;
}

.footer__item {
	text-align: right;
}


/*изменения*/
.lessons__text {
	text-align: center;
	margin-top: 50px;
}

.footer__lessons {
	padding-top: 450px;
}

.name__lesson {
	margin-top: 50px;
}

.img-fluid {
	margin-top: 100px;
}

.post {

}

.image {
	margin-bottom: 50px;
}
